
I wrote a bunch of QuickCheck tests, I run the TypeChecker, and I proved some of them.
